<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--    指定mybatis的日志的具体实现-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--    为domain里的User设置别名,方便在Mapper中调用-->
    <typeAliases>
        <typeAlias alias="user" type="com.zpf.domain.User"/>
    </typeAliases>
    <!--    环境配置，即连接数据库-->
    <environments default="mysql">
        <environment id="mysql">
            <!--            指定事务管理类型,type=JDBC 指直接使用了JDBC的提交和回滚设置-->
            <transactionManager type="JDBC"/>
            <!--  dataSource指数据源配置，POOLED是JDBC连接对象的数据源连接池的实现。 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true&amp;serverTimezone=UTC&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--    Mappers告诉myBatis去哪里找持久化类的映射文件-->
    <mappers>
        <mapper resource="com/zpf/mapper/UserMapper.xml"/>

        <mapper resource="com/zpf/mapper/PersonMapper.xml"/>

        <mapper resource="com/zpf/mapper/CardMapper.xml"/>

    </mappers>

</configuration>

