<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.zpf.mapper.CardMapper">
<!--    根据id查询Card，返回Card对象-->
    <select id="selectCardById" parameterType="int" resultType="com.zpf.domain.Card">
        SELECT *FROM tb_card WHERE id =#{id}
    </select>
</mapper>