<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.zpf.mapper.ClazzMapper">
    <!--根据id查询班级信息,返回resultMap-->
    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMapper">
        SELECT *FROM  tb_clazz WHERE  id=#{id}
    </select>
    <resultMap id="clazzResultMapper" type="com.zpf.domain.Clazz">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <collection property="students" javaType="ArrayList"
                    column="id" ofType="com.zpf.domain.Student"
                    select="com.zpf.mapper.StudentMapper.selectStudentByClazzId"
                    fetchType="lazy"/>
    </resultMap>
</mapper>