<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.zpf.mapper.UserMapper">
<!--    id="save"是唯一的标示符-->
<!--    parameterType属性指明插入时使用的参数类型-->
<!--    useGeneratedKeys="true"表示使用数据库的自动增长策略-->
    <insert id="save" parameterType="com.zpf.domain.User" useGeneratedKeys="true">
     INSERT INTO tb_user(NAME,SEX,AGE)	VALUES(#{NAME},#{SEX},#{AGE})
    </insert>

</mapper>