<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.zpf.mapper_2.UserMapper">
<resultMap id="userResultMap" type="com.zpf.domain.User">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="loginname" column="loginname"/>
    <result property="password" column="password"/>
    <result property="phone" column="phone"/>
    <result property="adress" column="address"/>
<!--    一对多关联-->
    <collection property="orders" javaType="ArrayList"
                column="id"  ofType="com.zpf.domain.User"
                select="com.zpf.mapper_2.OrderMapper.selectOrderByUserId"
                fetchType="lazy">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="total" column="total"/>
    </collection>
</resultMap>
    <select id="selectUserById" parameterType="int" resultMap="userResultMap">
        SELECT *FROM tb_user WHERE id=#{id}
    </select>

</mapper>